@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.all-contains{
    font-style: italic;
    font-family: 'Poppins';
}

.navbar{
    background-color: white;
    text-align: left;
    box-shadow: 3px 3px 3px grey;
}

.logo{
    text-decoration: none;
    font-weight: bold;
    color:chocolate;
    font-size: 1.9em;
}

span{
    color:deepskyblue;
}

li{
    text-align: right;
}
.current{
    text-decoration: none;
}