.box_su{
    width: 400px;
    padding: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #111111;
    text-align: center;
    border-radius: 24px;
    box-shadow: 5px 5px gray;
}

.box_su h2{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box_su input[type = "text"],.box_su input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #9ddfd3;
    padding: 14px 10px;
    width:  350px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box_su input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width:  120px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box_su input[type = "submit"]:hover{
    background: #2ecc71;
}

.box_su h1{
    color :aqua;
    font-weight: 900;
}

.info{
    color :white;
    text-transform: uppercase;
    font-weight: 900;
}